@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
:root {
    --color: black;
    --color1: #333;
    --color2: #f4f4f4;
    --color3: white;
    --background-color: white;
    --transition: 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color2);
    font-family: "Share Tech", sans-serif;
    color: var(--color);
}

.nav {
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    background: var(--color2);
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-item {
    text-decoration: none;
    font-weight: bold;
    text-wrap: nowrap;
    font-size: 1.5rem;
    color: var(--color);

}

.indicator {
    height: 0.25rem;
    width: 5rem;
    border-radius: 1.25rem;
    position: absolute;
    top: 3.5rem;
    background-color: orange;
    transition: all var(--transition);
}

.main {
    margin-top: 5rem;
}

section {
    scroll-margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.section-title {
    width: 55rem;
    text-align: left;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}

.divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--color1);
    border-radius: 1.5rem;
    margin: 1rem 0;
}

.about-section {
    height: 50rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.resume-card {
    width: 80rem;
    height: 40rem;
    background-color: var(--color2);
    padding: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.portrait {
    height: 32rem;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
}
.content {
    flex: auto;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: end;
    gap: 2rem;
    margin: 0.5rem 0;
}

.item > * {
    margin: 0;
}

.item-title {
    width: 5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.item-content {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color1);
}

.name {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color);
    margin: 0;
}
.eng-name {
    font-size: 1.5rem;
}

.education-section {
    /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
    background-color: var(--color2);
}


.timeline {
    width: 55rem;
    position: relative;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0.45rem;
    top: 0.2rem;
    width: 0.15rem;
    height: 100%;
    background-color: var(--color);
    border-radius: 1.5rem;
}


.timeline-item {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 5rem;
}
.timeline-item > * {
    margin: 0;
}

.timeline-item:hover .timeline-label {
    rotate: -45deg;
}

.timeline-item:hover .timeline-period {
    box-shadow: inset 40em 0 0 0 rgb(168, 50, 121);
}

.timeline-label {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--color);
    outline: 0.5rem solid var(--color2);
    position: absolute;
    top: 0.7rem;
    left: 0;
    rotate: 45deg;
    z-index: 1;
    transition: all var(--transition);
}

.timeline-period {
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    background-color: var(--color);
    transition: box-shadow 0.5s ease-in 0.1s;
    box-shadow: inset 0 0 0 0em #ef795a;
    position: absolute;
    right: 0;
    bottom: 0;
}

.timeline-title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.timeline-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    
}

.board-title {
    width: 55rem;
}


.board-content {
    width: 55rem;
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.borad-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0);
    transition: all var(--transition);
}

.borad-item:hover {
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.8);
    border-radius: 10%;
}

.borad-item img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.borad-item p {
    font-weight: 300;
    margin: 0;
    margin-top: 0.5rem;
}
.borad-list {
    width: 55rem;
    display: flex;
    flex-wrap: wrap;
}

.borad-list li {
    width: 33%;
}